# Import and Export Files 

# Challenge 1 - Working with CSV and Other Separated Files

Import the pandas library

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [14]:
#Your pandas import here:

import pandas as pd

In [4]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [5]:
# Your code here:

#reading the file using read_csv, using a sep ' ' because it's a tst file so needs to know where to separate the values
#and making the colums names the names in the variable 'cols'
a = pd.read_csv(tst_url, sep=' ', names = cols) 

print(a)

    time  rad_flow  fpv_close  fpv_open  high  bypass  bpv_close  bpv_open  \
55     0        81          0        -6    11      25         88        64
56     0        96          0        52    -4      40         44         4
50    -1        89         -7        50     0      39         40         2
53     9        79          0        42    -2      25         37        12
55     2        82          0        54    -6      26         28         2
..   ...       ...        ...       ...   ...     ...        ...       ...
80     0        84          0       -36   -29       4        120       116
55     0        81          0       -20    25      26        102        76
55     0        77          0        12   -22      22         65        42
37     0       103          0        18   -16      66         85        20
56     2        98          0        52     1      42         46         4

    class
55      4
56      4
50      1
53      4
55      1
..    ...
80      5
55      4
55      4
37      1
56      4

[14500 rows x 9 columns]

Let's verify that this worked by looking at the `head()` function.

In [6]:
# Your code here:

#creating a dataframe from the previous varible that read the file and added the colum names in
df = pd.DataFrame(a)
print(df)

#using the head() method to produce the first n rows (in this case 2) and seeing if they match with teh read-csv
#variable- which they do
hd = df.head(2)
print(hd)

    time  rad_flow  fpv_close  fpv_open  high  bypass  bpv_close  bpv_open  \
55     0        81          0        -6    11      25         88        64
56     0        96          0        52    -4      40         44         4
50    -1        89         -7        50     0      39         40         2
53     9        79          0        42    -2      25         37        12
55     2        82          0        54    -6      26         28         2
..   ...       ...        ...       ...   ...     ...        ...       ...
80     0        84          0       -36   -29       4        120       116
55     0        81          0       -20    25      26        102        76
55     0        77          0        12   -22      22         65        42
37     0       103          0        18   -16      66         85        20
56     2        98          0        52     1      42         46         4

    class
55      4
56      4
50      1
53      4
55      1
..    ...
80      5
55      4
55      4
37      1
56      4

[14500 rows x 9 columns]
    time  rad_flow  fpv_close  fpv_open  high  bypass  bpv_close  bpv_open  \
55     0        81          0        -6    11      25         88        64
56     0        96          0        52    -4      40         44         4

    class
55      4
56      4

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [11]:
# Your code here:

#read the file as a csv and store it in a variable
csv_file = pd.read_csv(r'C:\Users\chris\Downloads\shuttle')

#covnert the file to a csv using the to_csv() method with Index = None to remove index column
csv_file.to_csv(r'C:\Users\chris\Downloads\shuttle.csv', index=None)

#print it to check it
print(csv_file)

       Unnamed: 0  time  rad_flow  fpv_close  fpv_open  high  bypass  \
0              55     0        81          0        -6    11      25
1              56     0        96          0        52    -4      40
2              50    -1        89         -7        50     0      39
3              53     9        79          0        42    -2      25
4              55     2        82          0        54    -6      26
...           ...   ...       ...        ...       ...   ...     ...
14495          80     0        84          0       -36   -29       4
14496          55     0        81          0       -20    25      26
14497          55     0        77          0        12   -22      22
14498          37     0       103          0        18   -16      66
14499          56     2        98          0        52     1      42

       bpv_close  bpv_open  class
0             88        64      4
1             44         4      4
2             40         2      1
3             37        12      4
4             28         2      1
...          ...       ...    ...
14495        120       116      5
14496        102        76      4
14497         65        42      4
14498         85        20      1
14499         46         4      4

[14500 rows x 10 columns]
       Unnamed: 0  time  rad_flow  fpv_close  fpv_open  high  bypass  \
0              55     0        81          0        -6    11      25
1              56     0        96          0        52    -4      40
2              50    -1        89         -7        50     0      39
3              53     9        79          0        42    -2      25
4              55     2        82          0        54    -6      26
...           ...   ...       ...        ...       ...   ...     ...
14495          80     0        84          0       -36   -29       4
14496          55     0        81          0       -20    25      26
14497          55     0        77          0        12   -22      22
14498          37     0       103          0        18   -16      66
14499          56     2        98          0        52     1      42

       bpv_close  bpv_open  class
0             88        64      4
1             44         4      4
2             40         2      1
3             37        12      4
4             28         2      1
...          ...       ...    ...
14495        120       116      5
14496        102        76      4
14497         65        42      4
14498         85        20      1
14499         46         4      4

[14500 rows x 10 columns]

# Challenge 2 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [28]:
# Your code here:

import xlrd

#creating a variable that reads the excel file astronaut in my lab-import-export folder 
#this code was origianlly working -- whilst I came back later to upload to github it has stoped working 
# have explored many angles but code not working again and I'm not sure why

astronaut = pd.read_excel(r'C:\Users\chris\lab-import-export\your-code\astronaut.xls')
print(astronaut)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\chris\\lab-import-export\\your-code\\astronaut'

Use the `head()` function to inspect the dataframe.

In [24]:
# Your code here:

#code was originally working by using the head() method but due to an unkownn issue affecting previous box, thsi no longer works
astronaut.head(5)

NameError: name 'astronaut' is not defined

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [26]:
# Your code here:

#Uses the value_counts method to count the number of unique values in the 'Undergraduate Major' colum to get he most popualr undergrad course
#but due to an unkownn issue affecting previous box (affecting the astronaut variable), this no longer works
astronaut['Undergraduate Major'].value_counts()

NameError: name 'astronaut' is not defined

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [33]:
#this creates a csvfile using the to_csv() method, with a tab delimiter, the index column = None for no column, and header given

astro_data = pd.read_csv(r'C:\Users\chris\lab-import-export\your-code\astronauts.xls')
astro_data.to_csv (r'C:\Users\chris\lab-import-export\your-code\astronauts.csv', sep='\t', index = None, header=True)

print(astro_data)

     Unnamed: 0                   Name    Year  Group   Status  Birth Date  \
0             0        Joseph M. Acaba  2004.0   19.0   Active  1967-05-17
1             1         Loren W. Acton     NaN    NaN  Retired  1936-03-07
2             2       James C. Adamson  1984.0   10.0  Retired  1946-03-03
3             3        Thomas D. Akers  1987.0   12.0  Retired  1951-05-20
4             4            Buzz Aldrin  1963.0    3.0  Retired  1930-01-20
..          ...                    ...     ...    ...      ...         ...
352         352          David A. Wolf  1990.0   13.0  Retired  1956-08-23
353         353  Neil W. Woodward III   1998.0   17.0  Retired  1962-07-26
354         354       Alfred M. Worden  1966.0    5.0  Retired  1932-02-07
355         355          John W. Young  1962.0    2.0  Retired  1930-09-24
356         356        George D. Zamka  1998.0   17.0  Retired  1962-06-29

           Birth Place Gender  \
0        Inglewood, CA   Male
1         Lewiston, MT   Male
2           Warsaw, NY   Male
3        St. Louis, MO   Male
4        Montclair, NJ   Male
..                 ...    ...
352   Indianapolis, IN   Male
353        Chicago, IL   Male
354        Jackson, MI   Male
355  San Francisco, CA   Male
356    Jersey City, NJ   Male

                                            Alma Mater  \
0    University of California-Santa Barbara; Univer...
1     Montana State University; University of Colorado
2            US Military Academy; Princeton University
3                         University of Missouri-Rolla
4                             US Military Academy; MIT
..                                                 ...
352              Purdue University; Indiana University
353  MIT; University of Texas-Austin; George Washin...
354        US Military Academy; University of Michigan
355                    Georgia Institute of Technology
356  US Naval Academy; Florida Institute of Technology

          Undergraduate Major                            Graduate Major  \
0                     Geology                                   Geology
1         Engineering Physics                             Solar Physics
2                 Engineering                     Aerospace Engineering
3         Applied Mathematics                       Applied Mathematics
4      Mechanical Engineering                              Astronautics
..                        ...                                       ...
352    Electrical Engineering                                  Medicine
353                   Physics              Physics; Business Management
354          Military Science  Aeronautical & Astronautical Engineering
355  Aeronautical Engineering                                       NaN
356               Mathematics                    Engineering Management

    Military Rank            Military Branch  Space Flights  \
0             NaN                        NaN              2
1             NaN                        NaN              1
2         Colonel          US Army (Retired)              2
3         Colonel     US Air Force (Retired)              4
4         Colonel     US Air Force (Retired)              2
..            ...                        ...            ...
352           NaN                        NaN              3
353     Commander                    US Navy              0
354       Colonel     US Air Force (Retired)              1
355       Captain          US Navy (Retired)              6
356       Colonel  US Marine Corps (Retired)              2

     Space Flight (hr)  Space Walks  Space Walks (hr)  \
0                 3307            2              13.0
1                  190            0               0.0
2                  334            0               0.0
3                  814            4              29.0
4                  289            2               8.0
..                 ...          ...               ...
352               4044            7              41.0
353                  0            0               0.0
354                295            1               0.5
355                835            3              20.0
356                692            0               0.0

                                              Missions Death Date  \
0               STS-119 (Discovery), ISS-31/32 (Soyuz)        NaN
1                                STS 51-F (Challenger)        NaN
2                 STS-28 (Columbia), STS-43 (Atlantis)        NaN
3    STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...        NaN
4                                 Gemini 12, Apollo 11        NaN
..                                                 ...        ...
352  STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...        NaN
353                                                NaN        NaN
354                                          Apollo 15        NaN
355  Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...        NaN
356            STS-120 (Discovery), STS-130 (Endeavor)        NaN

    Death Mission
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
..            ...
352           NaN
353           NaN
354           NaN
355           NaN
356           NaN

[357 rows x 20 columns]

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function.

In [47]:
# Your code here:
fert_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00244/fertility_Diagnosis.txt'

fertility = pd.read_csv(fert_url, sep='\t') 
print(fertility)

fert_f = pd.DataFrame(fertility)
print(fert_f)

fert_f.head()

    -0.33,0.69,0,1,1,0,0.8,0,0.88,N
0   -0.33,0.94,1,0,1,0,0.8,1,0.31,O
1      -0.33,0.5,1,0,0,0,1,-1,0.5,N
2    -0.33,0.75,0,1,1,0,1,-1,0.38,N
3   -0.33,0.67,1,1,0,0,0.8,-1,0.5,O
4    -0.33,0.67,1,0,1,0,0.8,0,0.5,N
..                              ...
94       -1,0.67,1,0,0,0,1,-1,0.5,N
95      -1,0.61,1,0,0,0,0.8,0,0.5,N
96      -1,0.67,1,1,1,0,1,-1,0.31,N
97       -1,0.64,1,0,1,0,1,0,0.19,N
98    -1,0.69,0,1,1,0,0.6,-1,0.19,N

[99 rows x 1 columns]
    -0.33,0.69,0,1,1,0,0.8,0,0.88,N
0   -0.33,0.94,1,0,1,0,0.8,1,0.31,O
1      -0.33,0.5,1,0,0,0,1,-1,0.5,N
2    -0.33,0.75,0,1,1,0,1,-1,0.38,N
3   -0.33,0.67,1,1,0,0,0.8,-1,0.5,O
4    -0.33,0.67,1,0,1,0,0.8,0,0.5,N
..                              ...
94       -1,0.67,1,0,0,0,1,-1,0.5,N
95      -1,0.61,1,0,0,0,0.8,0,0.5,N
96      -1,0.67,1,1,1,0,1,-1,0.31,N
97       -1,0.64,1,0,1,0,1,0,0.19,N
98    -1,0.69,0,1,1,0,0.6,-1,0.19,N

[99 rows x 1 columns]

   -0.33,0.69,0,1,1,0,0.8,0,0.88,N
0  -0.33,0.94,1,0,1,0,0.8,1,0.31,O
1     -0.33,0.5,1,0,0,0,1,-1,0.5,N
2   -0.33,0.75,0,1,1,0,1,-1,0.38,N
3  -0.33,0.67,1,1,0,0,0.8,-1,0.5,O
4   -0.33,0.67,1,0,1,0,0.8,0,0.5,N